<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Toy Toon - Register</title>

    <!-- CSS FILES -->
    <!-- Load Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tillana:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.compat.css">
    <!-- Bootstrap v5 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <!-- Load Styles -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- favicon icon -->
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favc-toys 1.png">

</head>

<body>
<div class="Preloader"></div>

    <main>
        <nav class="navbar">
            <a class="navbar-brand-login" href="/">
                <img  class= "logov" src="/images/favc-toys 1.png">
                <p>Toy Toon</p>
            </a>
			<div id="hiding" class="py-5 text-white">
				<div class="container">
					<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
						<div class="col-lg-12 d-block">
							<div class="row d-flex">
								<div class="col-md pr-4 d-flex topper align-items-center">
									<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
									<span class="text">+ 1235 2355 98</span>
								</div>
								<div class="col-md pr-4 d-flex topper align-items-center">
									<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
									<span class="text">toytoonestore@gmail.com</span>
								</div>
								<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
									<span class="text">4-7 Business days delivery &amp; Free Returns</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="social-buttons">
                <a href="https://www.facebook.com/profile.php?id=100069308345587&sk=about_contact_and_basic_info" class="social-button social-button--facebook" aria-label="Facebook">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="social-button social-button--whatsapp" aria-label="whatsapp">
                    <i class="bi bi-whatsapp"></i>
                </a>
                <a href="https://instagram.com/toytoon.store?igshid=YmMyMTA2M2Y=" class="social-button social-button--instagram" aria-label="instagram">
                    <i class="bi bi-instagram"></i>
                </a>
        </nav>
        
        
        
        <section class="register-section section-padding ">
            <div class="section-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-10 mx-auto animate animated animate animate zoomInDown ">
                        <form class="custom-form register-form   needs-validation   mb-5 mb-lg-0 " action="" method="post" role="form" novalidate>
                                <h2 class="register-text text-center mb-4"><img src="/images/200w.gif" style="width: 50px;" alt="">  Register <img src="/images/200.gif" style="width: 90px;" alt=""></h2>
                                <div class="register-form-body needs-validation">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 text-center">
                                            <label class="form-check-label p-2 ms-3" for="registerFname">First Name <i class="bi bi-person-fill "></i></label>
                                            <input type="text" name="registerFname" id="Fname"
                                                class="form-control text-center rounded-pill" placeholder=" First Name" required>
                                                <div class="valid-feedback text-center mb-3 animate animated animate zoomIn">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback text-center mb-3 animate animated animate zoomIn">
                                                    Please enter first name.
                                                </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12 text-center">
                                            <label class="form-check-label p-2 ms-3" for="registerSurname">Surname  <i class="bi bi-person-fill "></i></label>
                                            <input type="text" name="registerSurname" id="Sname"
                                            class="form-control  text-center rounded-pill"  placeholder= " Surname" required>
                                            <div class="valid-feedback text-center mb-3 animate animated animate zoomIn">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback text-center mb-3 animate animated animate zoomIn">
                                                Please enter  surname.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                    <label class="form-check-label p-2 ms-3" for="registerEmail">Email <i class="bi bi-envelope-fill "></i></label>
                                    <input type="email" class="form-control text-center rounded-pill" name="registerEmail" id="email"
                                    placeholder="Enter Your Email" pattern="[^ @]*@[^ @]*"  required="">
                                    <div class="valid-feedback text-center mb-3 animate animated animate zoomIn">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback text-center mb-3 animate animated animate zoomIn">
                                        Please enter your email Address.
                                    </div>
                                    </div>
                                    <div class=" text-center">
                                    <label class="form-check-label p-2 ms-3" for="registerPhone">Phone  <i class="bi bi-telephone-fill "></i></label>
                                    <input type="tel" class="form-control text-center rounded-pill" name="registerPhone" id="phone"
                                    placeholder="Ph 01 xxx-xxx-xxx" required="">
                                    <div class="valid-feedback text-center mb-3 animate animated animate zoomIn">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback text-center mb-3 animate animated animate zoomIn ">
                                        Please enter your phone number.
                                    </div>
                                    </div>
                                    <h6 class="register-text   ms-3">Gander</h6>
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-check form-control  rounded-pill">
                                                <input class="form-check-input" type="radio" name="TicketForm" value="male" id="male">
                                                <label class="form-check-label " for="male">
                                                    <i class="bi bi-gender-male"></i>
                                                    Male
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <div class="form-check form-check-radio form-control rounded-pill">
                                                <input class="form-check-input" type="radio" name="TicketForm" value="female" id="female">
                                                <label class="form-check-label" for="female">
                                                    <i class="bi bi-gender-female"></i>
                                                    Female
                                                </label>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="text-center">
                                    <label class="form-check-label p-2 ms-3" for="registerPassword">Password </label>
                                    <i class="bi bi-eye-slash form-check-label" id="togglePassword"></i>
                                    <input type="password" name="registerPassword" id="password"
                                    class="form-control text-center rounded-pill" placeholder="Enter Your Password" required>
                                    <div class="valid-feedback text-center mb-3 animate animated animate zoomIn">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback text-center mb-4 animate animated animate zoomIn">
                                        Must contain at least 8 or more characters or number. <br>
                                        Must contain 1 uppercase and 1 lowercase 
                                    </div>
                                    
                                    <div class="col-lg-4 col-md-10 col-8 mx-auto">
                                        <button type="submit" class="form-control">Sign up </button>
                                </div>
                                {{#if msg}}
                                    <div class=" alert alert-danger rounded-pill text-center mt-3 animate animated animate zoomIn" role="alert" >
                                    {{msg}} 
                                    </div>
                                {{/if}}
                            </div>
                        </form>
                    </div>
                </div>
        </section>
    </main>


    <footer class="site-footer">
        <div class="site-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <h2 class="text-white mb-lg-0">Toy Toon </h2>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                        <ul class="social-icon d-flex justify-content-lg-end">
                            <li class="social-icon-item">
                                <a href="https://www.facebook.com/profile.php?id=100069308345587&sk=about_contact_and_basic_info" class="social-icon-link">
                                    <span class="bi-facebook"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="https://instagram.com/toytoon.store?igshid=YmMyMTA2M2Y=" class="social-icon-link">
                                    <span class="bi-instagram"></span>
                                </a>
                            </li>
                            <li class="social-icon-item">
                                <a href="" class="social-icon-link">
                                    <span class="bi-whatsapp"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mb-4 pb-2">
                    <h5 class="site-footer-title mb-3">Links</h5>
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="/Home" class="site-footer-link">Home</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/Offer" class="site-footer-link">Offers</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="ShopByAge" class="site-footer-link">By Age</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/ShopBrandCharacter" class="site-footer-link">Brand & Char</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/About" class="site-footer-link">About</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="/ContactUs" class="site-footer-link">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <h5 class="site-footer-title mb-3">Have a question?</h5>
                    <p class="text-white d-flex mb-1">
                        <a href="tel: 010xxxxxxxx" class="site-footer-link">
                            Phone Number
                        </a>
                    </p>
                    <p class="text-white d-flex">
                        <a href="" class="site-footer-link">
                            toytoonestore@gmail.com
                        </a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                    <h5 class="site-footer-title mb-3">Location</h5>
                    <p class="text-white d-flex mt-3 mb-2">
                        Alexandria University , MIS Dep , Alexandria, Egypt</p>
                </div>
            </div>
        </div>
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mt-5">
                        <p class="copyright-text">Copyright © 2024 MIS Team</p>
                        <p class="copyright-text">Distributed by: <a href="">MIS Team</a></p>
                    </div>
                    <div class="col-lg-8 col-12 mt-lg-5">
                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Terms & Conditions</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Privacy Policy</a>
                            </li>
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Your Feedback</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery-3.6.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/register.js"></script>

</body>

</html>